.formulario {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    overflow: hidden;
}

.formulario .form_title {
    margin-top: 1em;
    margin-bottom: 15px;
}

.formulario .form_title .titulo{
   font-size: 26px;
   font-weight: bold;
}

.formulario .form_envio {
    content: '';
    display: block;
    align-items: end;
    width: 5rem;
    height: 0.3rem;
    margin: 0 auto;
    position: absolute;
    border-radius: 6px;
    background-color: #000;
}

.container_form {
    display: flex;
}

.container_label {
    padding: 1.5em;
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.container_label .icon_descricao {
    display: flex;
    position: absolute;
}

.container_label .icon_descricao ion-icon {
   font-size: 18px;
   padding: 0.6em 0.2em;
}

.container_input #id, #descricao, #valor, #estoque{
    padding-left: 1.8em;
}

.container_button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 2em;
    margin-bottom: 2em;
}

.button_envia, .button_cancela {
    width: 30%;
    border-radius: 8px;
    margin: 1em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}
.button_cancela {
    background-color: #111827;
}

input {
    width: 250px;
}

@media (max-width: 1598px) {
    .container_label {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    input {
        width: 290px;
    }
}

@media (max-width: 1204px) {
    .formulario {
        width: 100%;
        max-width: 400px; 
        margin: 0 auto; 
        display: flex;
        flex-direction: column; 
        background-color: #fff;
        padding: 1.5em;
        border-radius: 8px;
        border-top-right-radius: 0px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    }
    
    .container_label {
        display: grid;
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
        align-items: center;
        padding: 1em;
    }
    
    .container_label input {
        width: 100%; /* Largura total em telas menores */
        padding-left: 1.8em;
    }
    
    .container_button {
        display: flex;
        align-items: center;
        justify-content: space-between; /* Espaçamento entre botões em telas menores */
        flex-direction: column; /* Altere para uma coluna em telas menores */
        padding-bottom: 2em;
    }
    
    .button_envia, .button_cancela {
        width: 100%; /* Largura total em telas menores */
        border-radius: 8px;
        margin: 0.5em 0; /* Adicione algum espaço vertical entre os botões */
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    }
}

 /* Media query para telas menores */
 @media screen and (max-width: 768px) {
    .formulario {
        max-width: none; /* Remova a largura máxima */
    }
    
    .container_label {
        padding: 0.5em; /* Reduza o espaçamento entre rótulos e inputs */
    }
}